---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

body{
	margin-bottom: 20px;
}

.navigation {
	margin-top:20px;
	margin-bottom:20px;
}

img {
	max-width: 100%;
	max-height: auto;
}

img.padded {
	margin: 1em;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1.branding {
	margin-bottom: 3px;
	font-size: 50px;
}

.footnotes {
  font-size: 12px;
	margin-top: 25px;
}

img.appstorebadge {
	height: 40px;
	margin: 10px;
}

img.tkvoiceicon {
	height: 300px;
	border-width: 1px;
	border-color: #000;
}
