---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.navigation {
	margin-top:20px;
	margin-bottom:20px;
}

img.padded {
	margin: 1em;
}

h1.branding {
	margin-bottom: 3px;
}

.footnotes{
  font-size: 12px;
	margin-top: 25px;
}
