# Site settings
title: Husband, father, geek.
email: chris@cpearson.me.uk
description: Husband, father, geek.  The personal blog of Chris Pearson.
baseurl: "" # the subpath of your site, e.g. /blog/
url: "http://www.cpearson.me.uk" # the base hostname & protocol for your site
author: Chris Pearson
permalink: /:year/:month/:day/:title/

paginate: 10
paginate_path: "/page:num/"

# Build settings
markdown: kramdown

defaults:
    -
      scope:
        path: ""
      values:
        author: "Chris Pearson"
        layout: post

gems: [jekyll-paginate]

exclude:
    - vendor
