---
layout: default
---
<div class="home">
  {% for post in paginator.posts %}
  <div class="post">
    <article class="post-content">
      <header class="post-header">
        <a href="{{post.url}}">
          <h1 class="post-title">{{ post.title }}</h1>
        </a>
        <p class="post-meta">
          <i class="far fa-calendar"></i> {{ post.date | date: "%B %-d, %Y" }}
          {% if post.description %}<span class="text-muted">{{ post.description }}</span> {% endif %}
        </p>
      </header>

      {% if post.content == post.excerpt %}
      {{ post.content }}
      {% else %}
      {{ post.excerpt }}
      <a href="{{post.url}}">Read more…</a>
      {% endif %}

    </article>
    <hr />
  </div>
  {% endfor %}
</div>

{% include pager.html %}