<nav class="tkvoice-nav navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/tkvoice/">
    <img alt="TKVoice" src="/images/tkvoice/Icon20Inverse.png"
      srcset="/images/tkvoice/Icon20Inverse.png 1x, /images/tkvoice/Icon20Inversex2.png 2x">
    TKVoice
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/tkvoice/hardware/">Hardware</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tkvoice/support/">Support</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tkvoice/privacy/">Privacy Policy</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="http://www.whitearmor.net/forum/topic/32270-tkvoice-for-ios-development-annoucement/"
          target="_blank">FISD
          Thread</a>
      </li> -->
    </ul>
  </div>
</nav>