.navigation {
	margin-top:20px;
	margin-bottom:20px;
}

.icon-social {
	color: #333;
}

.icon-social:hover {
	color: #23527c;
}

img.padded {
	margin: 1em;
}

h1 {
	font-size: 28px;
}

h1.branding {
	margin-bottom: 0px;
}
