<!doctype html>
<html lang="en">
{% include head.html %}

<body>
    <div class="container">
        {% include header.html %}
        {% include navigation.html %}

        {{ content }}

        <div class="text-center">
            {% include social.html %}
        </div>
        <div class="text-center">
            <p class="text-muted">
                <small>&copy; 2015&ndash;{{ site.time | date: '%Y' }} Christopher Pearson, All rights reserved.</small>
            </p>
        </div>
    </div>

    {% include scripts.html %}
</body>

</html>