---
layout: default
---
<div class="post">

  <article class="post-content">
    <header class="post-header">
      <h2 class="post-title">{{ page.title }}</h2>
      <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}</p>
    </header>

    {{ content }}
  </article>

</div>

<div class="navigation">
  {% if page.previous.url %}
    <div class="pull-left">
      <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
    </div>
  {% endif %}

  {% if page.next.url %}
    <div class="pull-right">
      <a href="{{ page.next.url }}">{{ page.next.title }}</a>
    </div>
  {% endif %}
</div>
